.message {
	font-size: larger;
	margin-top: 50px;
}

.profile-about {
	width: 100%;
	border: 1px solid gray;
	padding: 50px;
	overflow: auto;
}

.profile-image {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.profile-text {
	font-size: larger;
	
}

.profile-about-edit {
	margin-top: 10px;
}